In [1]:
import numpy as np
import os
import pandas as pd

from binance import Client, ThreadedWebsocketManager, ThreadedDepthCacheManager
from data import *
from IPython.display import display

In [2]:
df = read_excel_sheets()
display(df.tail())

AAPL
MSFT
NVDA
AMZN
META
GOOGL
BRK.B
GOOG
AVGO
TSLA
SPY_ETF
DAXEX_ETF
CAC40_ETF
NKY225_ETF
DJIA_ETF
EQQQ_ETF
FTSE_ETF

              OpenTime      Open      High       Low     Close    Symbol
2  2025-01-07 12:30:00    802.20    802.20    802.20    802.20  FTSE_ETF
0  2025-01-07 12:35:00    428.83    429.14    428.62    429.02  DJIA_ETF
0  2025-01-07 12:35:00  42000.00  42039.00  42000.00  42039.00  EQQQ_ETF
1  2025-01-07 12:35:00    803.50    803.50    803.50    803.50  FTSE_ETF
0  2025-01-07 12:40:00    803.80    803.80    803.80    803.80  FTSE_ETF

In [3]:
api_key = os.getenv('API_KEY')
api_secret = os.getenv('API_SECRET')
client = Client(api_key, api_secret)
crypto_df = get_crypto_data(client)
display(crypto_df.tail())

BTCUSDT
ETHUSDT
XRPUSDT
BNBUSDT
SOLUSDT
DOGEUSDT
USDCUSDT
ADAUSDT
TRXUSDT
AVAXUSDT

        OpenTime       Open       High        Low      Close    Symbol
27360 2025-01-08  3381.3100  3386.6300  3378.2300  3379.6100   ETHUSDT
27360 2025-01-08   202.1700   202.8700   201.9000   202.2000   SOLUSDT
27360 2025-01-08     0.2527     0.2528     0.2524     0.2524   TRXUSDT
27360 2025-01-08     1.0001     1.0002     1.0001     1.0002  USDCUSDT
27360 2025-01-08     2.2712     2.2836     2.2687     2.2691   XRPUSDT